[bans]
# Forbid multiple versions of same dependency (with some exceptions)
multiple-versions = "deny"
# We should slways specify version ranges
wildcards = "deny"
# We specify features explicitly to avoid bloat
workspace-default-features = "deny"
# Avoid adding dependencies to this list as this slows down compilation.
# Find another ways to avoid duplication.
skip-tree = [
    { name = "bzip2" },       # async-compression needs an update
    { name = "getrandom" },
    { name = "hashbrown" },
    { name = "rand_core" },
    { name = "tracing-log" }, # TODO: remove bunyan log formatter
    { name = "windows-sys" },
]
deny = [
    { name = "md5" },
    { name = "native-tls" },
    { name = "openssl" },
    { name = "rustls" },
]


[licenses]
allow = [
    "Apache-2.0",
    "CC0-1.0",
    "0BSD",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "bzip2-1.0.6",
    "MIT",
    "Unicode-3.0",
    "Zlib",
]
private = { ignore = true }


[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]


[sources]
unknown-git = "deny"
unknown-registry = "deny"
allow-org = { github = ["kamu-data"] }


[advisories]
yanked = "deny"
ignore = [
    # paste - no longer maintained
    # https://rustsec.org/advisories/RUSTSEC-2024-0436
    "RUSTSEC-2024-0436",
]
